.footer-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: rgb(59, 90, 108);
    align-items: center;
}

.footer-top-container {
    height: 80%;
    width: 80%;
    align-items: center;
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    border-bottom: 1px solid rgb(173, 173, 173);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-right-container {
    color: white;
}

.github-link {
    text-decoration: none;
    color: white;
}

.atag {
    text-decoration: none;
    color: white;
}

.one-love-sf {
    color: white;
}

.list-container-footer > li {
    padding-left: 20px;
    padding-top: 10px;
}
