.page-container {
    display: flex;
    flex-direction: row;
}


.side-navbar-container-left {
    width: 224px;
    height: 773px;
    padding-top: 65px;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-video-button-container {
    padding-left: 25px;
    width: 172px;
    height: 80px;
    /* text-align: center; */
    padding-top: 30px;
    /* border-bottom: 1px solid rgb(88, 87, 87); */
    right: 20px;
}

.new-video-button {
    display: flex;
    width: 172px;
    height: 39px;
    border-radius: 3px;
    background-color: #44bbff;
    color: white;
    cursor: pointer;
    outline: none;
}

.new-video-button:hover {
    background-color: #00adef;
}

.main-container-right {
    padding-top: 65px;
    width: 80%;
    padding-left: 240px;
}

.page-name {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.64px;
    color: #1a2e3b;
    font-weight: 500;
}

.navigation-links {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
button {
    background-color: transparent;
}
.unicode-sidebar-new-video-button {
    font-size: 30px;
    font-weight: 300;
    padding-left: 30px;
    padding-bottom: 7px;
}

.new-video-button-name {
    padding-left: 10px;
    padding-top: 10px;
}

.feed-container {
    /* display: flex; */
    /* flex-direction: row; */
    width: 104%;
    /* height: 100%; */
    padding-left: 20px;
}



.grid-duple {
    padding-right: 20px;
    width:260px;
}

.my-feed-container-name {
    font-weight: 500;
}

.post-item {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 260px;
    height: 260px;
    border: 1px solid rgb(243, 242, 242);
    margin-top: 20px;
    box-shadow: 4px 2px 5px rgb(248, 248, 248), 
        -4px 2px 5px rgb(248, 248, 248), 
        4px 2px 5px rgb(248, 248, 248),
        4px 2px 5px rgb(248, 248, 248);
}

.post-video {
    padding-top: 5px;
   
}

.side-navbar-container-left {
    position: fixed;
    z-index:8;
    margin-right: 30px;
    height: 100%;
}

.carousel {
    background: linear-gradient(to right, white, transparent 90%);
}


