.navbar-container-1 {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
}

.navbar-container-2 {
    /* display: flex; */
    height:60px;
    border-bottom: 1px solid #D0D8DB;
    background-color: #eef1f2;
}
.navbar-top-rainbow:before {
    display: block;
    width: 100%;
    height: .1875rem;
    background-image: -webkit-linear-gradient(left,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
    background-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
    content: '';
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.navbar-container-sub {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-right {
    display: flex;
    width: 450px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-left {
    display: flex;
}

.vimeo-logo-button {
    width: 100px;
    height: 40px;
}

.logo-img {
    height: 30px;
    width: 100px;
    cursor: pointer;
}





