.page-container {
    display: flex;
    flex-direction: row;
}


.side-navbar-container-left {
    width: 224px;
    height: 773px;
    padding-top: 65px;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-video-button-container {
    padding-left: 25px;
    width: 172px;
    height: 80px;
    /* text-align: center; */
    padding-top: 30px;
    /* border-bottom: 1px solid rgb(88, 87, 87); */
    right: 20px;
}

.new-video-button {
    display: flex;
    width: 172px;
    height: 39px;
    border-radius: 3px;
    background-color: #44bbff;
    color: white;
    cursor: pointer;
    outline: none;
}

.new-video-button:hover {
    background-color: #00adef;
}

.main-container-right {
    padding-top: 65px;
    width: 80%;
    padding-left: 240px;
}

.page-name {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.64px;
    color: #1a2e3b;
    font-weight: 500;
}

.navigation-links {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
button {
    background-color: transparent;
}
.unicode-sidebar-new-video-button {
    font-size: 30px;
    font-weight: 300;
    padding-left: 30px;
    padding-bottom: 7px;
}

.new-video-button-name {
    padding-left: 10px;
    padding-top: 10px;
}

.feed-container {
    width: 104%;
    height: 60%;
    padding-left: 20px;
    position: relative;
}

.right-linear-gradient {
    width: 10%;
    position: absolute;
    height: 70%;
    margin-top: -556px;
    float: right;
    left: 90%;
    background: linear-gradient(to left, white, transparent 90%);
}


.grid-duple {
    padding-right: 20px;
    width:260px;
}

.my-feed-container-name {
    font-weight: 500;
}

.post-item {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 260px;
    height: 260px;
    border: 1px solid rgb(243, 242, 242);
    margin-top: 20px;
    box-shadow: 4px 2px 5px rgb(248, 248, 248), 
        -4px 2px 5px rgb(248, 248, 248), 
        4px 2px 5px rgb(248, 248, 248),
        4px 2px 5px rgb(248, 248, 248);
}

.post-item:hover {
    box-shadow: 0 0 8px rgba(158, 158, 158, 0.6);
    -moz-box-shadow: 0 0 8px rgba(155, 155, 155, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(156, 156, 156, 0.6);
    -o-box-shadow: 0 0 8px rgba(156, 156, 156, 0.6);
}

.feed-thumbnail {
  width: 100%;
  height:150px;
}

.opacity {
    opacity: 0.66;
}


.side-navbar-container-left {
    position: fixed;
    z-index:8;
    margin-right: 30px;
    height: 100%;
}

.active-post-item {
        background-image: linear-gradient(
  hsl(0, 0%, 0%) 0%,
  hsla(0, 0%, 0%, 0.938) 19%,
  hsla(0, 0%, 0%, 0.841) 34%,
  hsla(0, 0%, 0%, 0.782) 47%,
  hsla(0, 0%, 0%, 0.678) 56.5%,
  hsla(0, 0%, 0%, 0.594) 65%,
  hsla(0, 0%, 0%, 0.426) 73%,
  hsla(0, 0%, 0%, 0.375) 80.2%,
  hsla(0, 0%, 0%, 0.292) 86.1%,
  hsla(0, 0%, 0%, 0.121) 91%,
  hsla(0, 0%, 0%, 0.008) 95.2%,
  hsla(0, 0%, 0%, 0.002) 98.2%,
  hsla(0, 0%, 0%, 0) 100%
    );
}

.carousel {
    background: linear-gradient(to right, white, transparent 90%);
}

.post-index-video-group {
    display: flex;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 15px;
}

.video-group-placeholder {
    color: #8498a4;
    padding-right: 8px;
    font-size: 14px;
    padding-top: 2px;
}

.video-group-name {
    font-size: 15px;
    font-weight: 500;
}

.show-post-title-and-views-box {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-left: 12px;
}

.show-post-views {
    color: #8498a4;
    font-size: 14px;
    padding-top: 5px;
}

.show-post-title-page {
    font-size: 14px;
    font-weight: 500;
}

.post-index-item-username {
    color: #1a2e3b;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 20px;
}

.post-index-item-username:hover {
    color: #00adef;
}

.post-duration-container {
    position: absolute;
    width: 54px;
    height: 24px;
    background-color:#1a2e3b;
    opacity: 85%;
    right: 7%;
    bottom: 100px;
    border-radius: 2px;
}

.post-duration {
    color: white;
    font-size: 12px;
}