.loading-container {
    display: flex;
    justify-content: center;
    transform: translateY(50px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.processing {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 0.5px;
}