.manage-videos-container {
    height: 100%;
    overflow: hidden;
}

.video-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 65px;
    width: 82%;
    padding-left: 250px;
    
}

.manage-video-top-inner-container {
    display: flex;
    width: 100%;
    height: 100px;
    padding-top: 2%;
    padding-left: 0.5%;
}


.left-inner-container-name {
    color: #1a2e3b;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.64px;
    font-weight: 500;
}

.left-inner-container-number-of-videos {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.16px;
    color: #8498a4;
    padding-top: 10px;
}

.bottom-container-manage-videos-block {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-container-manage-videos-top-manager {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-bottom: 1px solid rgb(238, 238, 238);
}


.manage-videos-top-row-left {
    display: flex;
    width: 8%;
    justify-content: space-between;
}

.manage-videos-checkbox {
    width: 30px;
    height: 30px;
}

.manage-videos-title-sorter {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 145%
}

.manage-video-row {
    /* border: 1px solid black; */
    border-top: 1px solid rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    cursor: pointer;
}

.manage-video-row:hover {
    background-color: #f4f5f5;
}

.manage-videos-top-row-right {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-top: 8px;
}

.checkbox-container {
    padding-right: 40px;
}

.checkbox-manage-videos {
    padding-right: 40px;
    width: 20px;
    height: 45px;
    border: none;
}

.manage-video-row-left-container {
    display: flex;
    width: 50%;
    padding-top: 15px;
}


.manage-video-thumbnail-container {
    width: 10%;
    height: 65px;
}

.manage-video-thumbnail {
    width:auto;
    height: 50px;
    /* padding-top: 7px; */
    border-radius: 3px;
}

.manage-video-title-name {
    padding-left: 60px;
    font-size: 16px;
    padding-top: 13px;
}


.manage-video-row-right-container {
    display: flex;
    width: 17%;
    justify-content: space-between;
    padding-right: 11%;
    padding-top: 27px;
}

.manage-video-password-protected {
    color: rgb(197, 197, 197);
}

.manage-video-password-date-modified {
    color: rgb(197, 197, 197);
}

.delete-button-inner-container {
    display: flex;
    justify-content: flex-end;
    width: 45px;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(51, 197, 255);
    border-radius: 3px; 
}

.delete-button-manage-videos {
    color: white;
}

.delete-button-manage-videos-container {
    display: flex;
    justify-content: flex-end;
}

.delete-button-inner-container:hover {
    background-color: rgb(46, 174, 224);
}