.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  height: 520px;
  max-width: 100%;
  border-radius: 3px;
}

.modal-child-loading {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 200px;
  height: 75px;
  max-width: 100%;
  border-radius: 3px;
}


/* .modal-username {

}

.modal-password {

} */
/* 
.modal-form {
 display: flex;
} */

.modal-title {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    background-color: #f2f4f5;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    font-weight: bold;
}

.login-input {
    width: 350px;
    height: 45px;
    font-size: 25px;
    outline: none;
    border: none;
    border: 0.5px solid rgb(223, 223, 223);
    border-radius: 3px;
    cursor: pointer;
    /* border-style: solid; */
}

.login-input:focus {
    border: 1px solid rgb(202, 202, 202);
}

.join-input {
    width: 350px;
    height: 45px;
    font-size: 17px;
    outline: none;
    border: none;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    cursor: pointer;
}

.input-wrapper {
    padding: 7px;
    text-align: center;
}

.modal-form {
    padding-top: 15px;
    text-align: center;
    border-top: 1px solid rgb(212, 212, 212);;
}

.modal-button {
    box-sizing: border-box;
    text-align: center;
    border: none;
    border: 1px solid rgb(238, 238, 238);
    width: 360px;
    height: 50px;
    background-color: #7fc400;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.navigate-to-other-method {
    display: flex;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    
}

.dont-have-an-account {
    font-size: 14px;
}

.signup-link-bottom {
    font-size: 14px;
    padding-left: 5px;
}

.have-an-account {
    display: flex;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.have-an-account-tex {
    font-size: 14px;
}

.login-bottom-modal {
    font-size: 14px;
    padding-left: 5px;
}

.login-bottom-modal > button {
    color: rgb(61, 178, 224);
    cursor: pointer;
}

.signup-link-bottom > button {
    color: rgb(61, 178, 224);
    cursor: pointer;
}

.demo-user-login-modal {
    width: 360px;
    height: 50px;
    background-color: #4285f4;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}
.space-between-demo-login {
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.login-input::placeholder {
  color: rgb(212, 212, 212);
  font-size: 16px;
  padding-left: 15px;
  transform: translateY(-3px);
  font-weight: 300;
}

.join-input::placeholder {
    transform: translateY(1px);
    color: rgb(212, 212, 212);
    font-size: 16px;
    padding-left: 15px;
    font-weight: 300;
}