.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  height: 520px;
  max-width: 100%;
  border-radius: 3px;
}



/* .modal-username {

}

.modal-password {

} */
/* 
.modal-form {
 display: flex;
} */

.modal-title {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    background-color: #f1f8ff;
    border-radius: 3px;
    border: 1px solid rgb(240, 240, 240);
    font-weight: bold;
}

.login-input {
    width: 350px;
    height: 50px;
    font-size: 25px;
    outline: none;
    border-radius: 3px;
    /* border-style: solid; */
}
.join-input {
    width: 350px;
    height: 50px;
    font-size: 17px;
    outline: none;
    border-radius: 3px;
}

.input-wrapper {
    padding: 7px;
    text-align: center;
}

.modal-form {
    padding-top: 15px;
    text-align: center;
}

.modal-button {
    box-sizing: border-box;
    text-align: center;
    width: 350px;
    height: 50px;
    background-color: #7fc400;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

