.upload-form-container {
  padding: 8px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.upload-form-inner-container {
    height: 700px;
    width: 100%;
    transform: translateY(20%);
}

.upload-form {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 65px;
    width: 82%;
    padding-left: 250px;
}

.upload-video-thumbnail-container {
    /* transform: translateY(30%); */
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px dotted gray;
    border-radius: 4px;
}

.title-description-container {
    display: flex;
    flex-direction: column;
}

.upload-button-text {
    color: white;
}

.upload-button {
    display: flex;
    justify-content: center;
    background-color: #00adef;
    margin: 20px;
    width: 350px;
    height: 39px;
    border-radius: 3px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0088cc;
}

.upload-button > div {
    padding-left: 10px;
}

.cloud-i {
    transform: translateY(-1px);
}

.upload-box-text {
    text-align: center;
    color: #1a2e3b;
    font-size: 22px;
    padding: 30px;
}

.upload-video-thumbnail-container > img {
    transform: translateY(80px);
}

.upload-video-thumbnail-container > button {
    transform: translateY(80px);
}

.upload-video-thumbnail-container > div {
    transform: translateY(80px);
}

.upload-file-input {
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    /* z-index: -1; */
    cursor: pointer;
    top:-3px;
}
/* .post-form-container {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.form {
  position: relative;
  width: 100%;
  
  height: 100%;
    padding-top: 65px;
    width: 82%;
    padding-left: 250px;
}

.form input,
button {
  margin-bottom: 15px;
}

.form button {
  padding: 8px 17px;
  border: 0;
  color: #fff;
  background: #265265;
  cursor: pointer;
}

.form button:hover {
  background: #1e3d4b;
}

.thumbnail-wrapper {
  display: flex;
  align-items: center;
  padding: 6px 4px;
}

.thumbnail {
  flex-basis: 100px;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.thumbnail-caption {
  flex-grow: 1;
  font-size: 14px;
  color: #2b8fba;
  margin-bottom: 5px;
  padding: 0 12px;
}

.success-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.success-container h2,
small {
  color: green;
  text-align: center;
}

@media screen and (max-width: 472px) {
  .container {
    padding: 6px;
  }

  .thumbnail-wrapper {
    padding: 6px 2px;
  }

  .thumbnail {
    flex-basis: 40px;
    width: 100%;
    height: 100%;
    max-height: 40px;
    max-width: 40px;
  }

  .thumbnail-caption {
    font-size: 12px;
  }
} */