.recent-posts-container {
    margin-left: 22px;
    margin-bottom: 40px;
}

.new-video-box {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    border: 1px solid rgb(241, 241, 241);
    background-color: #eef1f2;
}