.showpage_container {
    display: flex;
    flex-direction: column;
}

/* This is where the bottom container starts */
.showpage-bottom-container {
    display: flex;
    padding-left: 15%;
    padding-right: 8%;
}

.video-left-container {
    width: 70%;
    border-right: 1px solid rgb(206, 205, 205);
}

.post-title {
    font-size: 36px;
    color: #1a2e3b;
    line-height: 40px;
    letter-spacing: 0.64px;
    font-weight: 500;
    padding-top: 20px;
}

.video-title-container {
    height: 151px;
    border-bottom: 1px solid rgb(206, 205, 205);
}

.uploaded-date {
    padding-top: 1%;
    color: rgb(202, 201, 201);
}

.uploader-username-container {
    /* padding-top: 2%; */
}

.follow-user-container {
    display: flex;
    padding-top: 10px;
    width: 40%;
    /* justify-content: space-evenly; */
    /* float: left; */
    /* padding-top: 10px; */
    /* align-items: center; */
}

.follow-button {
    background-color: #00adef;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #0384b8;
}

.button-follower-container-for-title {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    padding-top: 10px;
    width: 60%;
    height: 32px;
    /* transform: translateY(20%); */
    text-align: center;
}


.follow-button-container {
    width: 30%;
    height: 24px;
    padding-top: 30px;
    /* border: 1px solid black; */
}

.video-left-info-container {
    border: 1px solid gray;
    height: 256px;
}

.comment-textarea {
    width: 99%;
    height: 70px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.comment-container {
    width: 99.5%;
    height: 98px;
    padding-top: 20px;
}

.comment-author-date-container {
    display: flex;
    width: 22%;
    /* border: 1px solid black; */
    /* justify-content: space-evenly; */
    padding-left: 4%;
}

.amount-of-comments {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 500;
    color: #1a2e3b;
}

.comment-author {
    font-size: 14px;
    /* padding-left: 22px; */
    font-weight: 500;
    padding-right: 5px;
}

.comment-date {
    font-size: 12px;
    color: #8498a4;
    padding-top: 2px;
}

.comment-body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding-top: 0.5%;
    border-bottom: 1px solid rgb(204, 204, 204)
}
.user-picture-comments {
    width:6.0%;
}

.profile-body-container {
    display: flex;
    height: 80%;
}

.add-a-new-comment {
    padding-top: 20px;
    font-size: 14px;
}

.space-container {
    width: 7%;
}

.profile-icon-img {
    height: 30px;
    width: 30px;
    padding-top: 10px;
}

.uploader-username-container {
    padding-right: 30px;
    padding-top: 8px;
}

.button-comment-container {
    display: flex;
}

.button-comment {
    padding: 10px;
    border-radius: 3px;
    background-color: #00adef;
    cursor: pointer;
    color: white;
}

.button-comment:hover {
    background-color: #0384b8;
}

.play-nice-comment {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 12px;
    color: rgb(84, 183, 240);
}

.video-right-top-container {
    width: 40%;

}

.user-posts-show-page-thumbnail{
    width: auto%;
    height: 76px;
}

.video-right-inner-container {
    width: 90%;
    padding-top: 30px;
    padding-left: 20px;
}

.more-from-this-user {
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 0.16px;
}

.user-posts-sidebar-container {
    display: flex;
}

.thumbnail-container {
    padding-bottom: 20px;
}

.video-right-title-username-container {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-top: 18px;
}


.video-right-title-container {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
    font-weight: 500;
    padding-bottom: 5px;
}

.video-right-username-container {
    font-size: 14px;;
    color: #8498a4;
    padding-top: 5px;
}
