.splash-heading-phrase {
    font-size: 100px;
    text-align: center;
    color: #1a2e3b;
    letter-spacing: -2.18px;
    font-weight: bold;
    padding-bottom: 0;
}

.splash-heading-phrase-container {
    padding-top: 27px;
}

.splash-container {
    background-image: linear-gradient(#fbf2f6, white);
    /* position: absolute; */
    padding-top: 90px;
}

.splash-heading-phrase-bottom {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    padding-top: 30px;
    font-weight: 350;
}

.demo-user-button-container {
    text-align: center;
    padding-top: 30px;
}

.demo-user-button {
    background-color: #d86995;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
    width: 140px;
    height: 50px;
    color: white;
    outline: none;
}

.image-1-left-column {
    width: 50% ;
    padding-top: 40px;
    padding-left: 200px;
}

.image-1 {
    display: flex;
    float: right;
    padding-top: 81px;
}
.image-container {
    display: flex;
    width: 100%;
    height: 814px;
    justify-content: space-between;
}

.image-1-column-header {
    line-height: 55px;
    font-size: 50px;
    text-align: start;
    letter-spacing: -1px;
    color: #1a2e3b;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 30px;
}

.image-1-column-description {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
    padding-top: 35px;
    font-weight: 300;
}

.image-1-button {
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    background-color: transparent;
}


.image-2-container {
    display: flex;
    width: 100%;
    height: 814px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.image-2 {
    display: flex;
    /* float: left; */
    padding-top: 81px;
    width: 840px;
    height: 762px;
}

.image-2-left-column {
    width: 50% ;
    padding-top: 130px;
    padding-left: 140px;
}

.image-3-left-column {
    width: 50% ;
    padding-top: 90px;
    padding-left: 200px;
}

.image-4 {
    width: 895px;
    padding-top: 130px;
}