.showpage-video-container {
    /* display: flex; */
    padding-top: 62px;
}

.video-viewport-container {
    display: flex;
    height: 20%;
    background-color: #0d171d;
    flex-direction: column;
}

.video-viewport {
    padding-left: 25%;
    padding-right: 25%;
    position: relative;
    outline: hidden;
}

.video-player {
    /* position: absolute; */
    top: 0;
    left: 0;
}

.video-player:focus {
    outline: none;
}