config/initializers/secret_token.rb
config/master.key


node_modules
bundle.js
bundle.js.map
/log/development.log
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
