.footer-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: rgb(59, 90, 108);
    align-items: center;
}

.footer-top-container {
    height: 80%;
    width: 80%;
    align-items: center;
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    border-bottom: 1px solid rgb(173, 173, 173);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-right-container {
    color: white;
}

.list-container-footer {
    width: 150px;
    height: 100px;
}

.list-container-footer > li {
    position: relative;
    width: 100%;
    height: 50%
}

.github-link {
    position: absolute;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    bottom: 27px;
}

.linkedin-link {
    position: absolute;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    bottom: 27px;
}

.atag {
    text-decoration: none;
    color: white;
}

.one-love-sf {
    color: white;
}

.list-container-footer > li {
    padding-left: 20px;
    padding-top: 10px;
}

.github-footer {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 6px;
}

.linked-in-footer {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 5px;
}